/*body{*/
/*    height: 100vh;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    background: #c1f7f5;*/
/*}*/

body{
    background: #fff;
    overflow-x: hidden;
}

/*nav bar*/

#logo{
    font-size: 45px;
    position: absolute;
    top: 10px;
    left : 120px;
}
#reservation{
    position: absolute;
    top: 27px;
    left: 1250px;
}


/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alfa+Slab+One&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-links{
    display: flex;
    align-items: center;


    padding: 20px 55px;
    border-radius: 12px;
    /*box-shadow: 0 5px 10px rgba(0,0,0,0.2);*/
}
.nav-links li{
    list-style: none;
    margin:  40px;
}
.nav-links li a{
    position: relative;
    left: 230px;
    bottom: 30px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
}
.nav-links li a:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: yellow;
    border-radius: 12px;
    transition: all 0.4s ease;
}
.nav-links li a:hover:before{
    width: 100%;
}
.nav-links li.center a:before{
    left: 50%;
    transform: translateX(-50%);
}
.nav-links li.upward a:before{
    width: 100%;
    bottom: -5px;
    opacity: 0;
}
.nav-links li.upward a:hover:before{
    bottom: 0px;
    opacity: 1;
}
.nav-links li.forward a:before{
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}
.nav-links li.forward a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

/*main name*/

#main-name{
    width: 380px;

    position: relative;
    left: 100px;
    bottom: 40px;
}

#main-name>h1{
    font-family: "Alfa Slab One", serif;
    font-weight: 200;
    font-size: 150px;
    color: #FFBC00;
    font-style: normal;
}
#main-name>p{
    font-family: "Alegreya Sans SC", serif;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;

    position: relative;
    bottom: 40px;
}

/*button*/

#first-button{
    position: relative;
    bottom: 30px;
}

.button {

    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

}



.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

/*main image in home*/
#main{
    position: relative;
    bottom: 780px;
    left: 600px;

}

/*burger section*/

#main-burger-1{
    position: relative;
    bottom: 450px;
}

#main-burger-dec{
    width: 350px;

    position: relative;
    left: 200px;
}

#main-burger-dec>h3{
    font-family: "Alegreya Sans SC", serif;
    font-weight: 500;
    font-size: 70px;
    color: #FFBC00;
    font-style: normal;
}
#main-burger-dec>p{
    font-family: "Alegreya Sans SC", serif;
    font-weight: 500;
    font-size: 30px;
    font-style: normal;
    padding-top: 40px;
}
#big-burger-special{
    position: relative;
    left: 700px;
    bottom: 600px;
}


#main-burger-2-des{
    width: 350px;

    position: relative;
    left: 900px;
}

#main-burger-2-des>h3{
    font-family: "Alegreya Sans SC", serif;
    font-weight: 500;
    font-size: 70px;
    color: #FFBC00;
    font-style: normal;
    line-height: 60px;
}
#main-burger-2-des>p{
    font-family: "Alegreya Sans SC", serif;
    font-weight: 500;
    font-size: 30px;
    font-style: normal;
    padding-top: 40px;
}
#Bacon{
    position: relative;
    bottom: 700px;
    left: 100px;
}
#main-burger-2{
    position: relative;
    bottom: 900px;
}

/*///////////////////////////*/

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;

    position: relative;
    left: 100px;
    bottom: 1700px;
}
.menu-item {
    /*background-color: black;*/
    padding: 20px;
    /*border-radius: 10px;*/
    width: 300px;
}
.menu-item img {
    width: 500px;
    border-radius: 10px;

    position: relative;
    right: 135px;
}
.menu-item h3 {
    margin: 10px 0;
    color: #ffc107;
    font-family: "Alegreya Sans SC", serif;
    font-weight: 500;
    font-size: 35px;

}
.menu-item p {
    margin: 0;
    font-size: 22px;
    font-family: "Alegreya Sans SC", serif;
    font-weight: 500;


}


/*///////////////////////////*/


#drinks-section{
    position: relative;
    bottom: 1600px;
}

.menu-container {
    margin: 50px auto;
    max-width: 800px;
}

.menu-container>h1 {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #ffd700;
    font-family: "Alegreya Sans SC", serif;
}

.menus {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 45%;
}

.column>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.column>ul>li {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    margin: 10px 0;

}
.column>ul>li>span{
    font-family: "Alegreya Sans SC", serif;
    font-size: 20px;

}

/*span {*/
/*  display: inline-block;*/
/*}*/

/*/////////////////////////*/
#soup{
    position: relative;
    left: 400px;
    bottom: 1500px;
}

#soup>h1{
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 60px;
    color: #ffd700;
    font-family: "Alegreya Sans SC", serif;
}

.soup-column {
    width: 45%;
}

.soup-column>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.soup-column>ul>li {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    margin: 10px 0;


}
.soup-column>ul>li>span{
    font-family: "Alegreya Sans SC", serif;
    font-size: 20px;

}
.think{
    font-weight: lighter;
}

/*/////////////////////////*/


#prawns-crab{
    position: relative;
    bottom: 1400px;
}
.prawns-menu-container {
    margin: 50px auto;
    max-width: 600px;
}

.prawns-menu{
    padding-top: 50px;
}

.prawns-menu-container>h1 {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
    color: #ffd700;
    font-family: "Alegreya Sans SC", serif;
}

.prawns-menu-container>h2 {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 20px;
    color: #ffd700;
    font-family: "Alegreya Sans SC", serif;
}

.prawns-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.prawns-menu li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.item-number {
    width: 10%;
}

.item-description {
    width: 70%;
    text-align: left;
    font-family: "Alegreya Sans SC", serif;
    font-size: 20px;
}

.sub-description {
    font-size: 0.9em;
    color: black;
    font-family: "Alegreya Sans SC", serif;
    font-size: 20px;

}

.item-price {
    width: 20%;
    text-align: right;

    position: relative;
    right: 190px;
}

#left-prawns{
    position: relative;
    right: 180px;
}

#right-crab{
    position: relative;
    bottom: 505px;
    left: 360px;
}

/*//////////*/

#chef-message{
    position: relative;
    left: 250px;
    bottom: 1800px;
}

#message{
    width: 30%;

    position: relative;
    left: 550px;
    bottom: 550px;
}

#message>h1{
    font-family: "Alfa Slab One", serif;
    font-weight: 200;
    font-size: 40px;
    color: #FFBC00;
    font-style: normal;

}

#message>p{
    font-family: "Alegreya Sans SC", serif;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 35px;
}

#message>h3{
    font-family: "Alegreya Sans SC", serif;
    font-size: 40px;
    color: #FFBC00;
    font-weight: inherit;
}
#chef-and-founder{
    position: relative;
    bottom: 20px;
}
#sign{


}
/*////////////////*/

#about-history{
    position: relative;
    bottom: 2200px;
}

#about-us{
    position: relative;
    bottom: 450px;
    left: 350px;
}
#about-us>h1{
    font-family: "Alfa Slab One", serif;
    font-weight: 200;
    font-size: 40px;
    color: #FFBC00;
    font-style: normal;

}
#about-us>p{
    width: 30%;
    font-family: "Alegreya Sans SC", serif;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 30px;
}

#about-us>button{

}

#our-history{
    position: relative;
    left: 900px;
    bottom: 700px;
}

#our-history>h1{
    font-family: "Alfa Slab One", serif;
    font-weight: 200;
    font-size: 40px;
    color: #FFBC00;
    font-style: normal;
}

#our-history>p{
    width: 30%;
    font-family: "Alegreya Sans SC", serif;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 30px;
}

#knife-image{
    position: relative;
    left: 500px;
}